<div data-modal2-target="container" data-action="click->modal2#closeBackground keyup@window->modal2#closeWithKeyboard"
  class="hidden bg-gray-300 bg-opacity-50 fixed inset-0 overflow-y-auto flex items-center justify-center"
  style="z-index: 9999;">
  <div class="max-h-screen w-full max-w-2lg relative">
    <div class="bg-white shadow-xl">
      <div class="p-8">
        <div class="my-5">
          <%= f.label :main_image %>
          <%= f.file_field :main_image, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
        </div>
        <div class="my-5">
          <%= f.label :sub_images %>
          <%= f.file_field :sub_images, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", multiple: true %>
        </div>
        <div class="flex justify-end items-center flex-wrap mt-6">
          <button
            class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4"
            data-action="click->modal2#close"
            >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
